<a href="https://colab.research.google.com/github/ZurichSabil/PRATIKUM-ALGORITMA-PEMROGRAMAN/blob/main/LAPORAN_PRATIKUM_KE_ENAM_ALGORITMA_PEMROGRAMAN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Use the range

range(5)

range(0, 5)

In [ ]:
# For loop example

dates = [2007,2002,2000]
N = len(dates)

for i in range(N):
    print(dates[i])

2007
2002
2000

In [ ]:
# Example of for loop

for i in range(0, 6):
    print(i)

0
1
2
3
4
5

In [ ]:
# Exmaple of for loop, loop through list

for year in dates:
    print(year)

2007
2002
2000

In [ ]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'weight'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is weight
Before square  1 is yellow
After square  1 is weight
Before square  2 is green
After square  2 is weight
Before square  3 is purple
After square  3 is weight
Before square  4 is blue
After square  4 is weight

In [ ]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [ ]:
# While Loop Example

dates = [2003, 2001, 2004, 2007]

i = 0
year = 0

while(year != 2004):
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

2003
2001
2004
It took  3 repetitions to get out of loop.

In [ ]:
# outer loop
for i in range(1, 13):
    # nested loop
    # to iterate from 1 to 12
    for j in range(1, 13):
        # print multiplication
        print(i * j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10 11 12
2 4 6 8 10 12 14 16 18 20 22 24
3 6 9 12 15 18 21 24 27 30 33 36
4 8 12 16 20 24 28 32 36 40 44 48
5 10 15 20 25 30 35 40 45 50 55 60
6 12 18 24 30 36 42 48 54 60 66 72
7 14 21 28 35 42 49 56 63 70 77 84
8 16 24 32 40 48 56 64 72 80 88 96
9 18 27 36 45 54 63 72 81 90 99 108
10 20 30 40 50 60 70 80 90 100 110 120
11 22 33 44 55 66 77 88 99 110 121 132
12 24 36 48 60 72 84 96 108 120 132 144

In [ ]:
names = ['Rizky', 'Tegar', 'Frendi']
# outer loop
for name in names:
    # inner while loop
    count = 0
    while count < 5:
        print(name, end=' ')
        # increment counter
        count = count + 1
    print()

Rizky Rizky Rizky Rizky Rizky
Tegar Tegar Tegar Tegar Tegar
Frendi Frendi Frendi Frendi Frendi

In [ ]:
for i in range(5):
    for j in range(5):
        if j == i:
            break
        print(i, j)

1 0
2 0
2 1
3 0
3 1
3 2
4 0
4 1
4 2
4 3

In [ ]:
first = [2, 5, 7]
second = [2, 5, 7]
for i in first:
    for j in second:
        if i == j:
            continue
        print(i, '*', j, '= ', i * j)

2 * 5 =  10
2 * 7 =  14
5 * 2 =  10
5 * 7 =  35
7 * 2 =  14
7 * 5 =  35

while expression:
    while expression:
      statement(s)
    statement(s)

In [ ]:
i = 1
while i <= 3:
    j = 1
    while j <= 12:
        print(j, end='')
        j = j + 1
    i = i + 1
    print()

123456789101112
123456789101112
123456789101112

In [ ]:
print('Show Perfect number fom 1 to 64')
n = 2
# outer while loop
while n <= 64 :
    x_sum = 0
    # inner for loop
    for i in range(1, n):
        if n % i == 0:
            x_sum += i
    if x_sum == n:
        print('Perfect number:', n)
    n += 1

Show Perfect number fom 1 to 64
Perfect number: 6
Perfect number: 28

In [ ]:
for angka in range(-5, 6):
  print(angka)

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [ ]:
Genres = ['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']

for genre in Genres:
    print(genre)

rock
R&B
Soundtrack
R&B
soul
pop

In [ ]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for color in squares:
  print(color)

red
yellow
green
purple
blue

In [ ]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0

while i < len(PlayListRatings):
  if PlayListRatings[i] < 6:
    break
  print(PlayListRatings[i])
  i += 1

10
9.5
10
8
7.5

In [ ]:
squares = ['orange', 'blue', 'orange', 'green', 'orange']
new_squares = []
i = 0

while i < len(squares):
  if squares[i] != 'orange':
    break
  new_squares.append(squares[i])
  i += 1

print(new_squares)

['orange']

In [ ]:
num = int(input("Masukan Angka"))
for i in range(1, num + 1):
  print(" " *(num - i), end=" ")
  for j in range(1, i + 1):
    print ("*", end=" ")
  print()

Masukan Angka7
       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

In [ ]:
n = int(input("Tuliskan angka: "))
res = [[1]]

for i in range(1, n):
    line = [1]
    for j in range(1, i):
        line.append(res[-1][j-1] + res[-1][j])
    line.append(1)
    res.append(line)

max_width = len(" ".join(map(str, res[-1])))

for line in res:
    print(" ".join(map(str, line)).center(max_width, ' '))

Tuliskan angka: 5
    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

In [1]:
dasar = 1
total = 0
baris = int(input("Masukkan Jumlah Baris : "))

for y in range(baris):
  if y == 0:
    dasar = 1
  else:
    dasar = dasar * (baris - y) // y
  print(dasar, end=" ")
  total += dasar

print(f"Jumlah Angka dalam baris {baris} adalah: {total}")

Masukkan Jumlah Baris : 5
1 4 6 4 1 Jumlah Angka dalam baris 5 adalah: 16