<a href="https://colab.research.google.com/github/ZurichSabil/PRATIKUM-ALGORITMA-PEMROGRAMAN/blob/main/LAPORAN_PRATIKUM_KE_TUJUH_ALGORITMA_PEMROGRAMAN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#create aq list

thislist = ["Ngaliyan", "Kendal", "Boja"]
print(thislist)

['Ngaliyan', 'Kendal', 'Boja']

In [ ]:
#Lists allow duplicate values:

thislist = ["Ngaliyan", "Kendal", "Boja", "Batang", "Klaten"]
print(thislist)

['Ngaliyan', 'Kendal', 'Boja', 'Batang', 'Klaten']

In [ ]:
print(len(thislist))

5

In [ ]:
#String, int and boolean data types:
list1 = ["Ngaliyan", "Boja", "Batang"]
list2 = [1, 3, 8, 9, 4]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)

['Ngaliyan', 'Boja', 'Batang']
[1, 3, 8, 9, 4]
[True, False, False]

In [ ]:
#A list with strings, integers and boolean values:
list1 = ["dfd", "55", True, 49, "famale"]
print(list1)

['dfd', '55', True, 49, 'famale']

In [ ]:
#What is the data type of a list?
mylist = ["Kendal", "Boja", "Klaten"]
print(type(mylist))

<class 'list'>

In [ ]:
#Using the list() constructor to make a List:
thislist = list(("Kendal", "Klaten", "Boja"))
# note the double round-brackets
print(thislist)

['Kendal', 'Klaten', 'Boja']

In [ ]:
print(thislist[0])

Kendal

In [ ]:
#Print the second item of the list:

print(thislist[1])

Klaten

In [ ]:
#Print the last item of the list:

print(thislist[-0])

Kendal

In [ ]:
#Return the third, fourth, and fifth item:
thislist = ["Kendal", "Boja", "Pati", "Batang", "Kramat", "Kebumen", "Weleri", "Weleri"]
print(thislist[2:7])

['Pati', 'Batang', 'Kramat', 'Kebumen', 'Weleri']

In [ ]:
#This example returns the items from the beginning to, but NOT including, "kramat":
print(thislist[:4])

['Kendal', 'Boja', 'Pati', 'Batang']

In [ ]:
#This example returns the items from "Batang" to the end:
print(thislist[3:])

['Batang', 'Kramat', 'Kebumen', 'Weleri', 'Weleri']

In [ ]:
#This example returns the items from "Batang" (-4) to, but NOT including "Weleri" (-1):
print(thislist[-4:-1])

['Kramat', 'Kebumen', 'Weleri']

In [ ]:
print(thislist[2:-2])

['Pati', 'Batang', 'Kramat', 'Kebumen']

In [ ]:
#Check if "Pati" is present in the list:
if "Pati" in thislist:
  print("Yes, 'Pati' is in the citys list")
else :
  print("No")

Yes, 'Pati' is in the citys list

In [ ]:
#Check if "Ngaliyan" is present in the list:
if "Ngaliyan" in thislist:
  print("Yes, 'Ngaliyan' is in the citys list")
else :
  print("No")

No

In [ ]:

thislist = ["Kendal", "Boja", "Pati", "Batang", "Kramat", "Kebumen", "Weleri", "Bantul"]
print(thislist)

['Kendal', 'Boja', 'Pati', 'Batang', 'Kramat', 'Kebumen', 'Weleri', 'Bantul']

In [ ]:
#Change the second item:
thislist[1] = "Tegal"
print(thislist)

['Kendal', 'Tegal', 'Pati', 'Batang', 'Kramat', 'Kebumen', 'Weleri', 'Bantul']

In [ ]:
#Change the values "Tegal" and "Pati" with the values "Tidar" and "Slawi":
thislist[1:3] = ["Tidar", "Slawi"]
print(thislist)

['Kendal', 'Tidar', 'Slawi', 'Slawi', 'Batang', 'Kramat', 'Kebumen', 'Weleri', 'Bantul']

In [ ]:
thislist[1:2] = ["Bayeman", "Patebon"]
print(thislist)

['Kendal', 'Bayeman', 'Patebon', 'Slawi', 'Slawi', 'Batang', 'Kramat', 'Kebumen', 'Weleri', 'Bantul']

EXERCISE 2
Buatlah dan tentukan tipe collection untuk mengelola data kalian dengan rincian di bawah :
Nama : nama mahasiswa
Kelas : kelas mahasiswa
Tanggal Lahir : tanggal lahir mahasiswa
no hp : no hp mahasiswa
alamat : alamat mahasiswa
Hobi :
    1. Hobi 1
    2. Hobi 2
    3. dst
- Tampilkan seluruh data dengan teknik perulangan

In [5]:
Mahasiswa = {
    "Nama": "Zurich Sabil",
    "Kelas": "Rombel 1 TIF",
    "Tanggal_lahir": " 1 Januari 2007",
    "No_HP": "081627847181",
    "Alamat": "Kramat Selatan, Magelang Utara, Kota Magelang",
    "Hobi": ["Bermain game", "Mendengarkan Musik", "Joging"]
}

print("Nama:", Mahasiswa["Nama"])
print("Kelas:", Mahasiswa["Kelas"])
print("Tanggal Lahir:", Mahasiswa["Tanggal_lahir"])
print("No HP:", Mahasiswa["No_HP"])
print("Alamat:", Mahasiswa["Alamat"])
print("Hobi:")
for Hobi in Mahasiswa["Hobi"]:
    print("~", Hobi)

Nama: Zurich Sabil
Kelas: Rombel 1 TIF
Tanggal Lahir:  1 Januari 2007
No HP: 081627847181
Alamat: Kramat Selatan, Magelang Utara, Kota Magelang
Hobi:
~ Bermain game
~ Mendengarkan Musik
~ Joging