<a href="https://colab.research.google.com/github/ZurichSabil/PRATIKUM-ALGORITMA-PEMROGRAMAN/blob/main/Pratikum_minggu_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

class MyClass:
  x = 4

In [ ]:

p1 = MyClass()
print(p1.x)

4

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("mamank", 31)

print(p1.name)
print(p1.age)

mamank
31

In [ ]:

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("mamank", 31)

print(p1)

<__main__.Person object at 0x7c5aa06b3c10>

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("mamank", 31)

print(p1)

mamank(31)

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("mamank", 31)
p1.myfunc()

Hello my name is mamank

In [ ]:

p1.age = 31

In [ ]:
del p1.age

In [ ]:
del p1

In [ ]:
class Person:
  pass

In [ ]:

class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

x = Person("Aurel", "Salwa")
x.printname()

Aurel Salwa

In [ ]:
class Student(Person):
  pass

In [ ]:
x = Student("Aurel", "Salwa")
x.printname()

Aurel Salwa

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):

SyntaxError: incomplete input (<ipython-input-26-b7d7333a4222>, line 2)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2024

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Aurel", "Salwa", 2024)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

In [ ]:
mytuple = ("avocado", "banana", "Melon")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

avocado
banana
Melon

In [ ]:
mystr = "Melon"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

M
e
l
o
n

In [ ]:
mytuple = ("Avocado", "banana", "Melon")

for x in mytuple:
  print(x)

Avocado
banana
Melon

In [ ]:

mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

In [ ]:

class MyNumbers:
  def __iter__(self):
    self.a = 2
    return self

  def __next__(self):
    x = self.a
    self.a += 3
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

2
5
8
11
14

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 4
    return self

  def __next__(self):
    if self.a <= 10:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

4
5
6
7
8
9
10

In [ ]:
x = "Hi World!"

print(len(x))

9

In [ ]:
mytuple = ("Avocado", "banana", "melon")

print(len(mytuple))

3

In [ ]:
thisdict = {
  "brand": "mercedes benz",
  "model": "Mustang",
  "year": 1977
}

print(len(thisdict))

3

In [ ]:

class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")
boat1 = Boat("Ibiza", "Touring 20")
plane1 = Plane("Boeing", "747")

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [ ]:

class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Mercedez", "Mustang")
boat1 = Boat("Ibiza", "Touring 20")
plane1 = Plane("Boeing", "747")

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Mercedez
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

In [1]:
class Alat_Tulis :
  def __init__ (self, nama, stok, harga_eceran) :
      self.nama = nama
      self.stok = stok
      self.harga_eceran = harga_eceran
      self.harga_total = stok * harga_eceran
  def set_nama (self, nama):
      self.nama = nama
  def set_stok (self, stok):
      self.stok = stok
  def set_harga_eceran (self, harga_eceran):
      self.harga_eceran = harga_eceran
  def get_nama (self):
      return self.nama
  def get_stok (self):
      return self.stok
  def get_harga_eceran (self):
      return self.harga_eceran
  def get_harga_total (self):
      return self.harga_total

bolpoint = Alat_Tulis('bolpoint', 10, 2000)
pensil = Alat_Tulis('pensil', 10, 1000)
penghapus = Alat_Tulis('penghapus', 10, 500)

print("Stok di toko")
print("Jenis Alat Tulis : " + bolpoint.get_nama())
print("Stok : " + str(bolpoint.get_stok()))
print("Harga : " + str(bolpoint.get_harga_eceran()))
print("Harga Total : " + str(bolpoint.get_harga_total()))
print("")
print("Jenis Alat Tulis : " + pensil.get_nama())
print("Stok :" + str(pensil.get_stok()))
print("Harga : " + str(pensil.get_harga_eceran()))
print("Harga Total : " + str(pensil.get_harga_total()))
print("")
print("Jenis Alat Tulis :" + penghapus.get_nama())
print("Stok : " + str(penghapus.get_stok()))
print("Harga : " + str(penghapus.get_harga_eceran()))
print("Harga Total : " + str(penghapus.get_harga_total()))
print("")
print("Harga Keseluruhan : " + str(bolpoint.get_harga_total() + pensil.get_harga_total() + penghapus.get_harga_total()))

Stok di toko
Jenis Alat Tulis : bolpoint
Stok : 10
Harga : 2000
Harga Total : 20000

Jenis Alat Tulis : pensil
Stok :10
Harga : 1000
Harga Total : 10000

Jenis Alat Tulis :penghapus
Stok : 10
Harga : 500
Harga Total : 5000

Harga Keseluruhan : 35000